[submodule "third_party/mcpelauncher-linker"]
	path = third_party/mcpelauncher-linker
	url = https://github.com/minecraft-linux/mcpelauncher-linker
[submodule "third_party/libjnivm"]
	path = third_party/libjnivm
	url = https://github.com/ChristopherHX/libjnivm
[submodule "third_party/dynarmic"]
	path = third_party/dynarmic
	url = https://github.com/azahar-emu/dynarmic
